DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=your-secret-key-here
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/mergethreatwatch?tls=true
GCS_BUCKET_NAME=mergethreatwatch-reports
REDIS_URL=redis://127.0.0.1:6379/0
ALLOWED_HOSTS=localhost,127.0.0.1
